*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
@font-face { font-family: poppins; 
    src: url('Poppins/Poppins-Light.ttf') 
} 
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px ;
}
.headleft{
    color: #00f;
    width: 500px;
}
.in{
    color: #fff;
    background-color: #00f;
}
.headright{
    display: flex;
    width: 650px;
}
.link1{
    list-style-type: none;
    display: flex;
}
.links a:hover{
    color: #000;
}
a{
    text-decoration: none;
}
.link1 a{
    text-decoration: none;
    color: rgb(107, 101, 101);
    font-size: 18px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login{
    border-left: 2px solid gray;
    height: 40px;
    padding: 0 10px;
}
.joinnow,.signin a{
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
}
.joinnow:hover{
    background-color: rgb(226, 215, 215);
    border-radius: 30px;
}
.signin{
    border: 2px solid #00f;
    border-radius: 30px;
    padding: 10px;
    color: #00f;
}
.signin:hover{
    background-color: rgb(169, 196, 207);
    border-radius: 30px;
}
.part1{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.part1-right{
 width: 50%;
}
.part1-right img{
    width: 100%;
}
.part1-left{
    padding-left: 60px ;
    width: 50%;
}
.part1-left h1{
    font-size: 3rem;
    width: 86%;
    color: brown;
}
.google a:hover{
    border: 2px solid #000;
}
.google a{
    border-radius: 30px;
    display: inline-block;
    margin: 20px 0px;
    text-align: center;
    border: 1px solid gray;
    padding: 10px 45px;
    font-size: 20px;
}
form a{
    margin: 10px 0;
    color: #000;
}
form input{
    margin: 10px 0;
    width: 300px;
    height: 40px;
}
button{
    background-color: rgb(37, 164, 244);
    color: #fff;
    font-size: 18px;   
    margin: 10px 0;
    width: 300px;
    padding: 10px 0;
    border-radius: 30px;
}
.part2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 223, 223);
    height: 400px;
}
.part2-right a{
    color: rgb(46, 43, 43);
    font-size: 30px;
    margin: 10px ;
    padding: 10px 20px;
    border: 2px solid black;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
}
.part2-right a:hover{
    background-color: #fff;
}
.part2-right{
    width: 60%;

}
.part2-left{
    width: 40%;
    padding: 40px 60px;
}
.part2-right h4{
    padding: 20px;
}
.part2-left h1{
    width: 91%;
    font-size: 3rem;
}
.part3{
    display: flex;
    padding: 40px 0;
}
.part3-left{
    width: 40%;
    padding: 40px 60px;
}
.part3-right{
    width: 60%;
}
.part3-right a{
    color: rgb(46, 43, 43);
    font-size: 30px;
    margin: 10px ;
    padding: 10px 20px;
    border: 2px solid black;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
}
.part3-right a:hover{
    background-color:rgb(237, 226, 226);
}
.part3-left h1{
    width: 98%;
    font-size: 3rem;
}
.part3-right h4{
    padding: 20px;
}
.part4{
    display: flex;
    justify-content: space-around;
    background-color: rgb(227, 223, 223);
    height: 300px;
    margin-top: 30px;
}
.part4-left{
    padding: 16px 60px;
}
.part4-right{
    width: 65%;
} 
.part4-left h1{
    width: 65%;
    font-size: 2.5rem;
    color: brown
}
.part4-right a{
    color: rgb(29, 116, 237);
    font-size: 30px;
    margin: 40px 0;
    padding: 10px 20px;
    border: 2px solid #00f;
    display: inline-block;
    border-radius: 30px;
}
.part4-right a:hover{
    background-color: rgb(165, 191, 200);
    color: #00f;
}
.part5{
    display: flex;
    background-color: rgb(239, 236, 236);
    height: 600px;
}
.part5-left, .part5-right{
width: 50%;
padding: 87px 60px;
}
.part5-left h1{
    width: 81%;
    font-size: 2.5rem;
    color: brown;
}
.part5-left p{
    width: 100%;
    font-size: 2rem;
}
.part5-right img{
    width: 370px;
}
.part6{
    display: flex;
    padding: 90px 70px;
}
.part6-left{
    width: 50%;
    padding: 0 60PX;
}
.part6-left img{
    width: 350px;
}
.part6-left h1{
    width: 61%;
    font-size: 2rem;
}
ul{
    list-style-type: none;
}
.part6-left a{
    border: 2px solid black;
    color: black;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 45px;
    margin: 20px 0;
}
.part6-left a:hover{
    background-color: rgb(230, 225, 225);
}
.part6-right a{
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 45px;
    margin: 20px 0;
}
.part6-right a:hover{
    background-color: rgb(230, 225, 225);
}
.part6-right h1{
    width: 54%;
    font-size: 2rem;
}
.part6-right img{
    width: 350px;
}
.part6-right{
    width: 50%;
  padding: 0 60px;
}
.end{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 225, 225);
    padding: 40px 0;
}
.end p{
    color: #00f;
}
.end ul p{
    color: #000;
}
.end ul li a{
    color: gray;
}
.end ul li a:hover{
    text-decoration: underline;
    color: #00f;
}
.end2 span{
   color: #fff;
   background-color: #000;
}  
.end2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.end2 a{
    color: #000;
}
.end2 a:hover{
    color: #00f;
    text-decoration: underline;
}